body {
	background: linear-gradient(90deg, rgba(2,0,36,0.7988621473980217) 0%, rgba(9,121,118,1) 35%, rgba(0,212,255,1) 100%);
}

.multistep-form-bg {
	background-color: white;
}

.form-height {
	min-height: 500px;
}